.dpkCursor {
    height: 1.75rem;
    width: 1.75rem;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    border: 2px solid #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
    transition: width 0.3s cubic-bezier(0.51, 1.07, 1, 1), height 0.3s cubic-bezier(0.51, 1.07, 1, 1),
        background-color 0.5s cubic-bezier(0.51, 1.07, 1, 1);

    @media screen and (max-width: 500px) {
        display: none;
    }
}

.hover-active {
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    b {
        font-size: 1.65rem;
    }
}
