/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                 GENERAL
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
    user-select: none;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
}

main {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

section {

  

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.container{
    height: 10rem;
    width: 90%;
    border: 1px solid gray; 
    padding: 10vh;
}