/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                 GENERAL
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
    user-select: none;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
}


a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

.box-table {
    display: block;
    box-shadow: 0px 100px 70px -80px rgba(0, 0, 0, 0.55);
    margin: 0;
    padding: 0;
    &::after {
        content: "";
        clear: both;
        display: table;
    }

    li {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        float: left;
        width: 25%;
        min-height: 280px;
        border: 1.5px solid #36363686;
        box-sizing: border-box;
        margin: 0px;
        margin-left: -1px;
        margin-bottom: -1px;
        @media screen and (max-width: 576px) {
            width: 50%;
            min-height: 170px;
        }
    }

    img {
        opacity: 0.5;
        &:hover {
            opacity: 1;
            transition: opacity 0.2s ease 0s;
        }
    }

    .line {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        overflow: hidden;
    }

    .tb:after,
    .tb:before,
    .rl:after,
    .rl:before {
        content: "";
        position: absolute;
        z-index: 2;
        backface-visibility: hidden;
        background: linear-gradient(270deg, #333 5%, hsla(0, 0%, 100%, 0.75) 20%, hsla(0, 0%, 100%, 0.85) 75%, #333);

        @media (max-width: 767px) {
            display: none;
        }
    }

    .tb:after,
    .tb:before {
        width: 100%;
        height: 1px;
        left: 0;
        
    }

    .tb:before {
        top: 0;
        transform-origin: right;
        transform: translateX(-101%);
    }

    .tb:after {
        bottom: 0;
        transform-origin: left;
        transform: translateX(101%);
    }

    .rl:after,
    .rl:before {
        width: 1px;
        height: 100%;
        right: 0;
    }

    .rl:before {
        left: 0;
        transform-origin: bottom;
        transform: translateY(101%);
    }

    .rl:after {
        left: calc(100% - 1px);
        transform-origin: top;
        transform: translateY(-101%);
    }

    li:hover .tb:before,
    li:hover .tb:after,
    li:hover .rl:before,
    li:hover .rl:after {
        transition: transform 0.5s cubic-bezier(0.6, 0, 0.3, 1);
    }

    li:hover .tb:before {
        transform: translateX(100%);
    }
    li:hover .tb:after {
        transform: translateX(-100%);
    }
    li:hover .rl:before {
        transform: translateY(-101%);
    }
    li:hover .rl:after {
        transform: translateY(101%);
    }
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                 //! White !//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bg-white{
    background-color: white;
    color: black;
}
.text-white{
    color: white !important;
}



// https://ivskaya.com/

.bg-white-1 {
    background-color: #fcf9f5;
    color: #121212;
}

.bg-white-2 {
    background-color: #f5f5f5;
    color: black;
}

.bg-white-3 {
    background-color: #d9d9dc;
    color: black;
    transition: background-color 1s ease;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                 //! Black !//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bg-black {
    background-color: #000;
    color: white;
}
.text-black {
    color: #000;
}


// https://www.eaglefilmsme.com/

.bg-black-eagle {
    background-color: #131313;
    color: white;
}


// https://www.artistsweb.com/

.bg-black-gray {
    background-color: #0c0c0c;
    color: white;
}







/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                 //! Blue !//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bg-blue {
    background-color: blueviolet;
    transition: background-color 1s ease;
}

.text-blue {
    color: blueviolet;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                 //! RED !//
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.bg-red {
    background-color: #fb1515;
    transition: background-color 1s ease;
}

.text-red {
    color: #fb1515;
}




//  https://www.esperanto.design/

.bg-red-en {
    background-color: #fc262d;
}

.text-red-en {
    color: #fc262d;
}




//  https://helixes.co/

.bg-helix {
    background: #ff4e50;
    transition: background-color 1s ease;
}

.text-helix {
    color: #ff4e50;
}


.container{
    padding: 3rem;
}

.text-center{
    text-align: center;
}

