@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

@font-face {
    font-family: Mezius;
    src: url("./font/mazius.woff2") format("woff2"), url("./font/mazius.woff") format("woff");
}

.mezius {
    font-family: "Mezius", sans-serif;
}
.poppins {
    font-family: "Poppins", sans-serif;
}





/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                   Effects
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.add-stroke {
    color: transparent !important;
    -webkit-text-stroke: 0.7px rgb(155, 155, 155);

    &:hover{
        color:inherit !important;
        transition: color .5s ease-out ;
    }

}

.make-bold {
    font-weight: 900;
}


h1{
    font-size: 3rem;
}