.dpkCursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 1.75rem;
  width: 1.75rem;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.123);
  mix-blend-mode: difference;
  border-radius: 5rem;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: width 0.25s cubic-bezier(0.51, 1.07, 1, 1),
    height 0.25s cubic-bezier(0.51, 1.07, 1, 1),
    background-color 0.1s cubic-bezier(0.51, 1.07, 1, 1);
    

  &.hover-active {
    height: 4rem;
    width: 4rem;
    font-size: 0.875rem;
  }

  &.hover-bg{
    border-width: 0;
    mix-blend-mode: normal;
    
  }

  &.noCursor {
   border-width:0;
  }

  &.emogy {
    height: 6rem;
    width: 6rem;
    font-size: 2rem;
    mix-blend-mode: normal;
    border-color: gray;
  }

  &.mixBlend {
    height: 4rem;
    width: 4rem;
    background: white;
    mix-blend-mode: difference;
  }

  &.hover-img{
    height: 10rem;
    width: 10rem;
    border: none;
    border-radius: 0;
    background-size: cover;
    mix-blend-mode: normal;
  }

  &.star{
    height: 10rem;
    width: 10rem;
    font-size: 5rem;
  }

}

